<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97343693313-haqj0ptddl24vq4uk9bkmqp73nr0udd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97343693313-haqj0ptddl24vq4uk9bkmqp73nr0udd7</string>
	<key>API_KEY</key>
	<string>AIzaSyD1MLVYTg_QHO_RlR-rGW5NXEONoJSMwz0</string>
	<key>GCM_SENDER_ID</key>
	<string>97343693313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alpsapp.roblskinplay</string>
	<key>PROJECT_ID</key>
	<string>roblox-skin-f3de4</string>
	<key>STORAGE_BUCKET</key>
	<string>roblox-skin-f3de4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97343693313:ios:8a05f53276059da11bd600</string>
</dict>
</plist>